
<table class="files-table">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Requested By</th>
      <th>Status</th>
      <th>Actions</th> 
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let file of files; let i = index">
      <tr>
        <td>{{ i +   1 }}</td>
        <td>{{ file.name }}</td>
        <td>{{ file.internalUserName }}</td>
        <td>{{ file.status }}</td>
        <td>
          <div>
            <!-- Display file details -->
           
            <!-- Add buttons with inline styles for spacing -->
            <button class="button-spacing-approve" (click)="updateFileStatus(file, 'Approved',loggedInUserEmail)">Approve</button>
            <button class="button-spacing-reject" (click)="updateFileStatus(file, 'Rejected', loggedInUserEmail)">Reject</button>
           </div>
           
           
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

